geopandas==1.1.1
osmnx==2.0.3
networkx==3.4.2
rasterio==1.4.3
rioxarray==0.18.2
shapely==2.1.1
pyproj==3.7.1
pandas==2.2.3
numpy==2.1.3
scikit-learn==1.6.1
scipy==1.15.2
matplotlib==3.10.0
folium==0.19.4
contextily==1.6.2
mapclassify==2.8.1
requests==2.32.3
tqdm==4.67.1
jupyterlab==4.3.4
